@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-black-color:#212121;
  --main-white-color:#FFFFFF;
  --accent-blue-color:#2196F3;
  --address-white-color: rgba(255, 255, 255, 0.6);
  --grey: #757575;
  --grey-bg:#2F303A;
  --white-bg:#E5E5E5;
  --light-grey-bg:#F5F4FA;
  --main-font: 'Roboto',sans-serif;
  --accent-font:'Raleway', sans-serif;
  --fill-color:#AFB1B8;
  --time-animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages h2 {
  visibility: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--main-black-color);
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img,
a {
  display: block;
}

b {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.logo {
  font-family: var(--accent-font);
  color: black;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo .web-logo {
  color: var(--accent-blue-color);
}

.studio-logo {
  font-family: var(--accent-font);
  color: var(--white-bg);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.h2-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  margin-bottom: 50px;
}

.header-container {
  background-color: var(--main-white-color);
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.footer {
  background-color: var(--grey-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #C4C4C4;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.menu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
}

.menu__item {
  margin-right: 50px;
  position: relative;
}

.menu__item:hover, .menu__item:focus {
  color: var(--accent-blue-color);
  transition: var(--time-animation);
}

.header-nav {
  display: flex;
}

.menu {
  display: flex;
  margin-right: 200px;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.contacts__link {
  display: flex;
  align-items: center;
  margin-right: 30px;
  fill: var(--grey);
}

.contacts__link:hover,
.contacts__link:focus,
.envelope-icon:hover,
.ebvelope-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  color: var(--accent-blue-color);
  fill: var(--accent-blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon,
.phone-icon {
  margin-right: 10px;
}

.button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--time-animation);
}

.button:hover, .button:focus {
  background-color: #188CE8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.advanategs-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.advantages-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-black-color);
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.advantages-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.advantages-bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--light-grey-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.developer-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.developer-description {
  font-size: 16px;
  text-align: center;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.advantages {
  background-color: var(--main-white-color);
}

.our-team {
  background-color: var(--light-grey-bg);
}

.our-team {
  background-color: var(--light-grey-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-list {
  display: flex;
  justify-content: center;
}

.our-team-item {
  display: block;
  margin-left: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card {
  background-color: var(--main-white-color);
  padding: 30px 24px;
}

.current-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-blue-color);
}

.current-page::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background: var(--accent-blue-color);
  border-radius: 2px;
  height: 4px;
  bottom: -33.5px;
}

.services {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.services-item {
  margin-left: 30px;
  position: relative;
}

.services-desc {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  z-index: 1;
}

.services-desc h3 {
  color: var(--main-white-color);
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 27px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo {
  width: 106px;
  height: 60px;
}

.client-logo:hover,
.client-logo:focus,
.clients-list-item:hover,
.clients-list-item:focus {
  fill: var(--accent-blue-color);
  border-color: var(--accent-blue-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item {
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-right: 30px;
  fill: #AFB1B8;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1);
  transition: transform 250ms linear;
  /* opacity: 0; */
  /* transition: opacity 1s linear; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
}

.modal-form-check {
  margin-top: 20px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: var(--accent-blue-color);
  outline: none;
  transition: var(--time-animation);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-blue-color);
  transition: var(--time-animation);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 12px 16px;
}

.modal-form-field {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  margin-top: 12px;
  margin-bottom: 4px;
  display: inline-block;
}

.modal-form-wrap {
  display: block;
  position: relative;
}

.modal-form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
}

.modal-form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.policy-link {
  color: var(--accent-blue-color);
  text-decoration: underline;
  margin-left: 2px;
}

.icon-tick-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-black-color);
  border-radius: 2px;
  color: var(--main-white-color);
  margin-right: 7px;
}

.icon-tick {
  fill: var(--main-white-color);
  display: flex;
  align-content: center;
  margin: 4px 3px;
}

.modal-form-check:checked + .modal-form-policy .icon-tick-wrap {
  background-color: var(--accent-blue-color);
  border: var(--accent-blue-color);
  transition: var(--time-animation);
}

.modal-content {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  max-height: 581px;
  height: 100%;
  background-color: var(--main-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(255, 169, 169, 0.2);
}

[data-modal-close] {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  cursor: pointer;
}

[data-modal-close]:hover {
  fill: var(--accent-blue-color);
}

.is-hidden {
  transform: scale(0);
  transition: transform 250ms linear;
  /* opacity: 1;
        transition: opacity 1s linear; */
}

.modal-form-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  background-color: var(--accent-blue-color);
  border: none;
  width: 200px;
  height: 50px;
}

.button-filter {
  background: var(--light-grey-bg);
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding-bottom: 6px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--time-animation), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
  background: var(--accent-blue-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--time-animation), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter-item {
  /*display:inline-block;*/
  margin-left: 8px;
}

.button-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-filter-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.project-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100%-270px)/9);
}

.project-item:hover, .project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item a {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .overlay,
.project-item:focus .overlay {
  display: block;
  transform: translateY(0);
  animation: up 250ms linear forwards normal;
  transition: var(--time-animation);
}

.project-card {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
}

.project-card {
  position: relative;
  z-index: 1;
  background-color: var(--main-white-color);
  width: 370px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  transform: translateY(100%);
  animation: down 250ms linear forwards normal;
}

.overlay p {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  padding: 63px 24px;
}

.address-kiev {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.address-kiev:hover, .address-kiev:focus {
  color: var(--accent-blue-color);
  transition: var(--time-animation);
}

.footer-address {
  margin-top: 20px;
}

.footer-contacts {
  color: var(--address-white-color);
  font-style: normal;
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-blue-color);
  transition: var(--time-animation);
}

.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item {
  fill: var(--main-white-color);
  padding: 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-item:hover, .footer-social-item:focus {
  background-color: var(--accent-blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  margin-left: 70px;
}

.footer-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.signup-icon {
  fill: var(--main-white-color);
  margin-left: 10px;
}

.footer-signup-submit {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  width: 200px;
  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  border: transparent;
  cursor: pointer;
}

.input-signup {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--grey-bg);
  margin-right: 12px;
  padding-left: 16px;
}

.signup-form {
  margin-left: auto;
}

.footer-signup {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-icon-item {
  fill: var(--grey);
  padding: 12px;
  background-color: var(--main-white-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.social-icon-item:hover, .social-icon-item:focus {
  background-color: var(--accent-blue-color);
  fill: var(--main-white-color);
  transition: var(--time-animation);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons-list:not(:last-child) {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */