:root{
    --main-black-color:#212121;
    --main-white-color:#FFFFFF;
    --accent-blue-color:#2196F3;
    --address-white-color: rgba(255, 255, 255, 0.6);
    --grey: #757575;
    --grey-bg:#2F303A;
    --white-bg:#E5E5E5;
    --light-grey-bg:#F5F4FA;
    --main-font: 'Roboto',sans-serif;
    --accent-font:'Raleway', sans-serif;

}

body{
    font-family: var(--main-font);
    color: var(--main-black-color);
    font-style: normal;
    font-weight: normal;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .section{
      padding-bottom: 94px;
      padding-top:94px;
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    button,
    ul,
    ol,
    li {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
    padding-left: 0;
  }
  
  img,
  a {
    display: block;
  }


.advantages h2{
    visibility: hidden;
}
.logo{
    font-family: var(--accent-font);
    color: black;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo .web-logo {
    color: var(--accent-blue-color)
}

.studio-logo{
    font-family: var(--accent-font);
    color: var(--white-bg);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.link-header,
.header-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-black-color);
}

.link-header:hover,
.link-header:focus,
.header-contacts:hover,
.header-contscts:focus {
    color:var(--accent-blue-color)
}

.title-h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white-color);
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--main-white-color);
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
}

.button:hover,
.button:focus{
    background-color:#188CE8;
}

.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantages-list{
    display:flex;
    margin-left: -30px;
    margin-top: -30px;
}

.advanategs-list-item{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
}
.advantages-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-black-color);
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.advantages-description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.h2-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-black-color);
    margin-bottom: 50px;
}

.developer-title{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
}

.developer-description {
    font-size: 16px;
    text-align: center;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.footer{
    background-color: var(--grey-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}



.address-kiev{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
}

.address-kiev:hover,
.address-kiev:focus{
    color: var(--accent-blue-color)
}

.footer-contacts{
    color:var(--address-white-color);
    font-style: normal;
}

.footer-contacts:hover,
.footer-contacts:focus{
    color:var(--accent-blue-color)
}
.footer-contacts:not(:last-child){
    margin-bottom: 9px;
    margin-top: 20px;
}

.button-filter{
    background: var(--light-grey-bg);
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding-bottom: 6px;
    padding: 6px 22px;
}
 .button-filter:hover,
 .button-filter:focus{
     background: var(--accent-blue-color);
     color: var(--main-white-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
 
 .button-filter-item{
     /*display:inline-block;*/
     margin-left:8px;
    }
.button-filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }
.button-filter-section{
    padding-bottom: 94px;
    padding-top:94px;
}
 .current-page{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        color: var(--accent-blue-color);
    }

.project-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-black-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.header-container{
    background-color: var(--main-white-color);
}

.main-banner{
    background-color: var(--grey-bg);
    text-align: center;
    padding-top:200px;
    padding-bottom: 200px;
}

.advantages{
    background-color: var(--main-white-color);
}

.our-team{
    background-color: var(--light-grey-bg);
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items: center;
}
.header-nav{
    display:flex;
}
.header-list{
    display:flex;
    margin-right: 331px; 
    align-items: center;
}

.link-header:not(:last-child),
.header-contacts:not(:last-child) {
    margin-right: 50px;
}
.header-contacts-list{
    display:flex;
    align-items: center;
}

.header-contacts{
    color: var(--grey);
}

.services {
padding-bottom: 94px;
}

.services-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.services-item{
    margin-left: 30px;
}

.our-team{
    background-color: var(--light-grey-bg);
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-team-list{
    display: flex;
    justify-content: center;
    
}
.our-team-item{
    display: block;
    margin-left: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card{
    background-color: var(--main-white-color);
    padding: 30px 24px;
}
.footer-address{
    margin-top: 20px;
}

.project-set{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
}
.project-item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100%-270px)/9);
}

.project-card{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding:20px 24px;
}