.footer{
    background-color: var(--grey-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container.footer{
    display: flex;
    align-items: baseline;
}
