.header-container{
    background-color: var(--main-white-color);
    display: flex;
    align-items: center;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    
}