.hero {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    background-color: #C4C4C4;
    background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url('../images/bg-mob-min.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    // @media (min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    //   background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    //   url('../images/bg-mob@2x-min.jpg');
    // }
  }

  @media screen and (min-width:768px) {
    .hero{
    max-width: 768px;    
    background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url('../images/bg-tab-min.jpg');
  
  //   @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //       background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
  //       url('../images/bg-tab@2x-min.jpg');
  // }
  }}

  @media screen and (min-width:1200px) {
    .hero{
    max-width: 1600px;    
    background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url('../images/bg.jpg');
    padding-top: 200px;
    padding-bottom: 200px;
  
  //   // @media (min-device-pixel-ratio: 2),
  //   // (min-resolution: 192dpi),
  //   // (min-resolution: 2dppx) {
  //   //     background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
  //   //     url('../images/bg@2x-min.jpg');
  // }
  }}


.title-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white-color);
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}