.address-kiev{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
}

.address-kiev:hover,
.address-kiev:focus{
    color: var(--accent-blue-color);
    transition: var(--time-animation);
}

.footer-address{
    margin-top: 20px;
}