.current-page{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--accent-blue-color);
}

.current-page::after{
display: block;
content: '';
position: absolute;
width: 100%;
background: var(--accent-blue-color);
border-radius: 2px;
height: 4px;
bottom: -33.5px;
}