.contacts{
    display:flex;
    align-items: center;
}


.contacts__item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--grey);
}


.contacts__link{
    display: flex;
    align-items: center;
    margin-right: 30px;
    fill: var(--grey);
}

.contacts__link:hover,
.contacts__link:focus,
.envelope-icon:hover,
.ebvelope-icon:focus,
.phone-icon:hover,
.phone-icon:focus{
    color: var(--accent-blue-color);
    fill:var(--accent-blue-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.envelope-icon,
.phone-icon {
    margin-right: 10px;
}