.menu__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-black-color);
}

.menu__item {
    margin-right: 50px;
    position: relative;

    &:hover,
    &:focus {
    color:var(--accent-blue-color);
    transition: var(--time-animation);
}
}

.header-nav{
    display:flex;
    justify-content: space-between;
}

.menu{
    display:none;
    padding-top: 10px;
    // margin-right:200px; 
    // align-items: center;
    @media screen and (min-width:768px){
        display: flex;
    }
}

.mobile {
    fill: black ;
}
