.header-menu_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-black-color);
}

.header-menu_link {
    margin-right: 50px;
    position: relative;

    &:hover,
    &:focus {
    color:var(--accent-blue-color);
    transition: var(--time-animation);
}
}

.header-nav{
    display:flex;
    
}

.header-menu_list{
    display:flex;
    margin-right:200px; 
    align-items: center;
    
}

